@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 10%);
  }

  .toggle-btn {
    @apply [&>div::before]:translate-y-0  [&>div::before]:rotate-45 [&>div::after]:translate-y-0  [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg];
  }
}

@font-face {
  font-family: 'Satoshi-Light';
  src: url('./fonts/Satoshi-Light.woff2') format('woff2'),
    url('./fonts/Satoshi-Light.woff') format('woff'),
    url('./fonts/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('./fonts/Satoshi-Regular.woff2') format('woff2'),
    url('./fonts/Satoshi-Regular.woff') format('woff'),
    url('./fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('./fonts/Satoshi-Medium.woff2') format('woff2'),
    url('./fonts/Satoshi-Medium.woff') format('woff'),
    url('./fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Bold';
  src: url('./fonts/Satoshi-Bold.woff2') format('woff2'),
    url('./fonts/Satoshi-Bold.woff') format('woff'),
    url('./fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Black';
  src: url('./fonts/Satoshi-Black.woff2') format('woff2'),
    url('./fonts/Satoshi-Black.woff') format('woff'),
    url('./fonts/Satoshi-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
.top-section {
  @apply max-w-screen-xl mx-auto px-5 sm:px-6 lg:px-[5.5rem] pb-4 pt-[2.9rem] md:text-[6rem] text-[2.6rem] text-center relative;
}

.top-section2 {
  @apply mx-auto px-5 sm:px-6 pb-4 pt-[2.9rem]  text-[2.6rem] text-center relative;
}

.bg-cabana-orange {
  background: #ff4a2e;
}

.bg-cabana-white {
  background: #ffffff;
}

.faq-question .icon {
  /* font-size: 18px; */
  transition: transform 0.3s ease;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.faq-question.active .icon {
  transform: rotate(45deg);
}

/* .posts {
  @apply iphone:left-[3.4rem];
}
.right-posts {
  @apply iphone:right-[3.7rem];
} */

.bg-gradient {
  background: linear-gradient(146deg, #f24922 23.95%, #f2f494 92.5%);
}

body {
  font-family: 'kumbh sans', 'Satoshi-Regular', 'sans serif';
  overflow: hidden;
}

.lh-tight {
  line-height: 6.3rem;
}

nav {
  background-color: #dceeff;
  z-index: 1;
}

.slider-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.slider-dot {
  width: 9.77px;
  height: 9.77px;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out;
}

.slider-dot.active {
  background-color: #00a8e8;
  /* border-radius: 114.4px; */
}

.slider {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 360px) {
  .sec1 {
    position: absolute;
    left: 2.8rem;
  }
  .sec2 {
    position: absolute;
    right: 3.1rem;
  }
}
@media (min-width: 380px) {
  .sec1 {
    position: absolute;
    left: 3.6rem !important;
  }
  .sec2 {
    position: absolute;
    right: 3.9rem !important;
  }
}
@media (min-width: 540px) {
  .sec1 {
    position: absolute;
    left: 8.5rem !important;
  }
  .sec2 {
    position: absolute;
    right: 8.9rem !important;
  }
}

@media (min-width: 360px) {
  .gallerys-1 {
    position: absolute;
    left: 4.1rem !important;
  }
  .gallerys-2 {
    position: absolute;
    right: 4rem !important;
  }
}
@media (min-width: 380px) {
  .gallerys-1 {
    position: absolute;
    left: 4.9rem !important;
  }
  .gallerys-2 {
    position: absolute;
    right: 4.8rem !important;
  }
}
@media (min-width: 540px) {
  .gallerys-1 {
    position: absolute;
    left: 9.7rem !important;
  }
  .gallerys-2 {
    position: absolute;
    right: 10rem !important;
  }
}

@media (min-width: 360px) {
  .about-1 {
    position: absolute;
    left: 5.1rem !important;
  }
  .about-2 {
    position: absolute;
    right: 5rem !important;
  }
}

@media (min-width: 380px) {
  .about-1 {
    position: absolute;
    left: 5.8rem !important;
  }
  .about-2 {
    position: absolute;
    right: 5.6rem !important;
  }
}

@media (min-width: 540px) {
  .about-1 {
    position: absolute;
    left: 10.5rem !important;
  }
  .about-2 {
    position: absolute;
    right: 10.3rem !important;
  }
}

@media (min-width: 360px) {
  .frequent-1 {
    position: absolute;
    left: 2.7rem !important;
  }
  .frequent-2 {
    position: absolute;
    right: 3.1rem !important;
  }
}
@media (min-width: 390px) {
  .frequent-1 {
    position: absolute;
    left: 4.2rem !important;
  }
  .frequent-2 {
    position: absolute;
    right: 3.7rem !important;
  }
}

@media (min-width: 540px) and (max-width: 540px) {
  .about {
    height: 500px !important;
  }
  .abouts {
    height: 600px !important;
  }
  .about-us {
    height: 85rem !important;
  }
  .wave-tops {
    margin: -25px;
  }
}
.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

nav li {
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: #003362;
  font-weight: 600;
}

nav li a {
  height: 100%;
  place-content: center;
  cursor: pointer;
}

nav li {
  position: relative;
}

.font {
  font-family: 'kumbh sans';
  overflow: hidden;
}

/* @media screen and (max-width: 768px) {
  nav li a::after {
    content: url('./images/wave-one.png');
    position: absolute;
    left: 0;
    bottom: 31px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    z-index: -1;

    transition: background-color 0.3s ease;
  }
} */

nav li a:hover::after {
  /* animation: wave 1s infinite; */
  /* z-index: 1; */
}

nav li a:hover {
  /* background-color: #003362; */
  /* height: 100%; */
  text-align: center;
  cursor: pointer;
  /* text-decoration: underline; */
}

nav li:hover {
  /* background-color: #003362; */
  cursor: pointer;
}

nav > ul > li {
  border-left: 2px solid white;
  display: grid;
  align-items: center;
  cursor: pointer;
}

nav > ul > li a {
  display: grid;
  align-items: center;
  cursor: pointer;
}

nav > ul > li:first-child {
  border-left: none;
}

nav > ul > li a img {
  width: 194px;
  padding: 10px;
}

/* @keyframes wave {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(1.5);
    }

    100% {
        transform: scaleX(0);
    }
} */

.mobile-menu-list > ul > li {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  /* height: 100%; */
}

.mobile-menu-list > ul > li > a {
  display: inline-block;
  padding: 15px;
}

.openMenuButton {
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

.open {
  display: block;
  transform: rotateY(0deg);
}

.close {
  display: none;
  transform: rotateY(180deg);
}

.mobile-menu-list {
  display: none;
}

.mobile-open {
  display: block;
}

.mobile-close {
  display: none;
}

/* main */

.main-container {
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      176deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgb(86 74 74 / 50%) 100%
    ),
    url('../images/header-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.grillin {
  color: #ff4a2e;
}

span.grillin-drink::before {
  content: url('../images/drink.svg');
  position: absolute;
  left: -123px;
  top: -53px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  z-index: 1;

  transition: background-color 0.3s ease;
}

span.grillin-ticket::before {
  content: url('../images/ticket.svg');
  position: absolute;
  right: -136px;
  top: -15px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  z-index: 1;

  transition: background-color 0.3s ease;
}

.figure-cards {
  row-gap: 1.1rem;
  @apply flex flex-col;
}

.home-gallery {
  width: 292px;
  height: 135px;
  transform: rotate(1.649deg);
  flex-shrink: 0;
  @apply md:flex rounded-xl p-2 md:p-8 md:p-0 glass-bg md:gap-x-0 gap-x-4;
}

.glass-bg {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
}

.checkout-box {
  @apply md:flex rounded-xl p-1 md:p-8 md:p-0;
  height: 73px;
  transform: rotate(9.516deg);
  flex-shrink: 0;
}

.checkout-title {
  color: #fff;
  font-family: 'Satoshi-regular' !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.checkout-subtitle {
  color: #fff;
  font-family: 'Satoshi-Light' !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-gallery-img {
  width: 99px;
  height: 90px;
  transform: rotate(1.649deg);
  flex-shrink: 0;
  border-radius: 10px;
}

.gallery-caption {
  @apply flex flex-col justify-between gap-y-3 text-white;
}

.gallery-caption h4 {
  font-family: 'Satoshi-bold';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 20px; 133.333% */
}

.gallery-caption p {
  font-family: 'Satoshi-medium';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 20px; 133.333% */
  text-align: justify;
  letter-spacing: normal;
}

.gallery-caption div {
  display: flex;
  justify-content: space-between;
}

.card-link {
  width: 161px;
  height: 220px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  flex-shrink: 0;
  @apply flex flex-col justify-center items-center p-5 gap-1 text-white;
}

.card-link h4 {
  font-family: 'Satoshi-medium';
  font-size: 40px;
}

.card-link h3 {
  font-family: 'Satoshi-medium';
  font-size: 14px;
  text-align: center;
}

.card-link__title {
  color: #fff;
  border-bottom: 1px solid white;
  line-height: 30px;
}

h4.card-link__exp {
  font-size: 14px;
  text-align: center;
  /* transform: rotate(-12.305deg); */
  font-weight: 400px;
  font-family: 'Satoshi-medium';
}
.testimonial-image {
  transform: rotate(14deg);
}
.testimonial-star {
  /*transform: rotate(-12.021deg);
     */
  transform: rotate(13deg);
  -webkit-transform: rotate(13deg);
  -moz-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  -o-transform: rotate(13deg);
}
.card-link__name {
  font-size: 10px;
  text-align: center;
  /* transform: rotate(-12.305deg); */
  font-weight: 400px;
  font-family: 'Satoshi-medium';
}
.slant-right {
  transform: rotate(15.679deg);
}

.slant-left {
  transform: rotate(-12.305deg);
}

.book-button {
  @apply py-4 px-8 flex gap-3 text-white w-4/5 justify-center md:w-auto;
  transition: background-color 0.8s ease;
  cursor: pointer;
  border-radius: 49px;
  -webkit-border-radius: 49px;
  -moz-border-radius: 49px;
  -ms-border-radius: 49px;
  -o-border-radius: 49px;
  transition: all;
  -webkit-transition: background-color 0s ease;
  -moz-transition: background-color 0s ease;
  -ms-transition: background-color 0s ease;
  -o-transition: background-color 0s ease;
}

/* .book-button:hover{
    border: 1px solid #F24922;
    background-color: white;
    color: #ff4a2e;
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
   
} */

.wave-top {
  position: absolute;
  right: -9%;
}

.wave-bottom {
  position: absolute;
  bottom: 14%;
}

/* Animations */

.animate-shake {
  animation: shake 0.9s infinite;
  -webkit-animation: shake 0.9s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(0deg);
  }
  50% {
    transform: translateX(5px) rotate(0deg);
  }
  75% {
    transform: translateX(-5px) rotate(0deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

/* Media Queries */

/* hide the wave on over for the 3rd li */

/* @media only screen and (min-width: 768px) {
  nav li:not(:nth-child(3)) a::after {
    content: url('../images/wave-one.png');
    position: absolute;
    left: 0;
    bottom: 31px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    z-index: -1;

    transition: background-color 0.3s ease;
  } */

nav li a:hover::after {
  z-index: 1;
}

/* .wave-top {
    position: absolute;
    right: -9%;
  }

  .wave-bottom {
    position: absolute;
    bottom: -12%;
  } */
/* } */

@media only screen and (max-width: 768px) {
  /* nav li a:hover::after {
    z-index: 1;
  } */

  .wave-top {
    position: absolute;
    /* right: -9%; */
    right: 0%;
  }

  .wave-bottom {
    position: absolute;
    bottom: -12%;
  }
}

@media screen and (max-width: 425px) {
  body {
    overflow: auto;
  }
  nav li:first-child a:hover {
    background-color: #03b9c5;
  }

  span.grillin-drink::before {
    content: url('../images/drink-small.svg');
    position: absolute;
    left: -59px;
    top: -19px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    z-index: 1;

    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
  }

  span.grillin-ticket::before {
    content: url('../images/ticket-small.svg');
    position: absolute;
    right: -66px;
    top: -6px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    z-index: 1;
    transition: background-color 0.3s ease;
  }

  .lh-tight {
    line-height: 3.3rem;
  }

  .wave-top {
    position: absolute;
    top: 8px;
    right: -14%;
  }
  .wave-top img,
  .wave-bottom img {
    height: 30px;
  }

  .wave-bottom {
    position: absolute;
    bottom: -12%;
    left: -80px;
  }
}

/* specifically for iphone 14pro max */
@media screen and (min-width: 426px) and (max-width: 431px) {
  span.grillin-drink::before {
    content: url('../images/drink-small.svg');
    position: absolute;
    left: -61px;
    top: -42px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    z-index: 1;

    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
  }

  span.grillin-ticket::before {
    content: url('../images/ticket-small.svg');
    position: absolute;
    right: -66px;
    top: -31px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    z-index: 1;
    transition: background-color 0.3s ease;
  }

  .wave-top {
    position: absolute;
    top: 8px;
    right: -14%;
  }
  .wave-top img,
  .wave-bottom img {
    height: 30px;
  }

  .wave-bottom {
    position: absolute;
    bottom: 5%;
    left: -80px;
  }
}
